.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.text-container {
  padding: 3rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .text-container {
    padding: 1vw !important;
  }
}
@media (max-width: 359px) {
  .text-container {
    padding: 1rem;
  }
}

@media (max-width: 300px) {
  .text-container {
    padding: 0;
  }
}

@media (max-width: 200px) {
  .gif {
    transition: 0.2s;
    box-shadow: none;
  }
}
