.icon {
  width: 10rem;
}

@media (max-width: 600px) {
  .icon {
    width: 8rem;
  }
}

@media (max-width: 400px) {
  .icon {
    width: 5rem;
  }
}

@media (max-width: 300px) {
  .icon {
    width: 20vw;
  }
}
