@import url("./vars.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.reference {
  flex-wrap: wrap;
  max-width: 90vw;
  /* padding: 5vw; */
}

.reference h1 {
  color: black;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 4vw;
  border-bottom: 3px solid var(--light-shade);
  /* padding-bottom: 2rem;
  padding-top: 1.5rem; */
  padding: 0;
  height: fit-content;
  font-size: 5rem;
  background: linear-gradient(
    to top right,
    white 25%,
    var(--main-theme),
    var(--light-shade)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--title-font-family);
  /* box-shadow: 0 0 1rem gray; */
  font-weight: bolder;
  /* text-transform: uppercase; */
  /* border-radius: 1rem; */
  /* background-color: var(--main-theme); */
}

.reference p {
  margin-left: 4vw;
  font-size: 1.5rem;
  width: 100%;
}

.reference i {
  font-family: Caveat;
  font-size: 1.5rem;
}

@media (max-width: 410px) {
  .reference h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 350px) {
  .reference h1 {
    font-size: 2rem;
  }
  .reference p,
  .reference i {
    font-size: 1rem;
  }
}

@media (max-width: 200px) {
  .reference h1 {
    transition: 0.2s;
    font-size: 1rem;
  }
  .reference p,
  .reference i {
    transition: 0.2s;
    font-size: 0.5rem;
  }
}
