* {
  --default-background: #1a1a1a;
  --landing-color: #d4af37;
  --text-color: white;
  --default-font: "Inter,-apple-system, BlinkMacSystemFont, " Segoe UI
    ", Roboto, Oxygen, Ubuntu, Cantarell, " Fira Sans ", " Droid Sans ", "
    Helvetica Neue ", sans-serifSF Pro";
  --initial-page-color: white;
  --titles-font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --main-theme: #007fff;
  --light-shade: #1e90ff;
  --dark-shade: #0052a3;
  --main-linear-gradient: linear-gradient(
    to bottom right,
    black 0.1%,
    var(--dark-shade) 20%,
    var(--main-theme) 40%,
    white
  );
  color: var(--text-color);
  font-family: var(--default-font);
}
