body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  background-color: var(--default-background);
  letter-spacing: 0.2px;
}

@media (min-width: 3000px) {
  html {
    font-size: 150%;
  }
}

@media (min-width: 5000px) {
  html {
    font-size: 200%;
  }
}

@media (min-width: 6000px) {
  html {
    font-size: 300%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (orientation: landscape) {
  body {
    overflow: auto;
    overflow-x: hidden;
  }
}
